@import 'mixins/flexmixins';

//global variables

$bgColor : white;
$fontColor: #7C777D;
$desktop: "only screen and (min-width: 600px)";

* {

  padding: 0px;
  margin: 0px;
  font-family: 'arial';
  color: $fontColor;

}

body {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bgColor;

}

//define the viewPort flexBox

#viewPortContainer {

  @include flexBox('row', no-wrap);
  height: 100%;

}

header {

  @include flexItem(1, 1, auto);
  @include flexBox('row', no-wrap);

}

h1 {

  @include flexItem(1, 1, auto);
  text-align: center;
  font-size: 70px;

}