//import mixins and partials

@import 'globals';
@import 'mixins/flexmixins';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/galleryView';
@import 'partials/detailView';

* {

  padding: 0px;
  margin: 0px;
  font-family: 'arial';
  color: $fontColor;

}

body {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bgColor;

}

//define the viewPort flexBox

#mainViewContainer {

  @include flexBox(column, nowrap);
  //height: 100%;
  padding: 50px 25px 50px 25px;
  min-width: 480px;

   @media #{$desktop} {

    padding: 50px 100px 50px 100px;

  }

}

