doctype html

html

  head

    title= title

    //make sure that css path is absolute 'with /' otherwise won't connect

    link(rel="stylesheet", href="/css/styles.css")

  body

    div#detailViewContainer

      include ../partials/_header

      block content


