doctype html

html

  head

    title= title
    link(rel="stylesheet", href="/css/styles.css")

  body

    div#mainViewContainer

      include ../partials/_header

      section#galleryView

        block content

      include ../partials/_footer


