doctype html

html

  head

    title Express Gallery
    link(rel="stylesheet", href="css/styles.css")

  body

    div#mainViewContainer

      include ../partials/_header

      section#galleryOverview

      section#secondView

      h1 goodbye


      block content





