/* line 10, stdin */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'arial';
  color: #7C777D; }

/* line 19, stdin */
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white; }

/* line 30, stdin */
#mainViewContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 50px 100px 50px 100px; }

/* line 38, stdin */
header {
  flex: 1 1 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  max-height: 120px;
  margin-bottom: 25px; }
  @media only screen and (min-width: 1000px) {
    /* line 38, stdin */
    header {
      border-top: 1px solid gray; } }
  /* line 52, stdin */
  header h1 {
    flex: 1 3 65%;
    box-sizing: border-box;
    text-align: center;
    font-size: 60px; }
    @media only screen and (min-width: 1000px) {
      /* line 52, stdin */
      header h1 {
        font-size: 80px; } }
  /* line 72, stdin */
  header p {
    display: none;
    flex: 1 1 35%;
    box-sizing: border-box;
    font-size: 14px; }
    @media only screen and (min-width: 1000px) {
      /* line 72, stdin */
      header p {
        display: block;
        border-left: 1px solid gray;
        margin: 0px 0px 0px 10px;
        padding: 0px 10px 0px 20px; } }

/* line 91, stdin */
#mainGallery {
  flex: 1 1 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box; }
  /* line 96, stdin */
  #mainGallery .listing {
    flex: 1 1 20%;
    box-sizing: border-box;
    margin: 0 auto; }
    /* line 106, stdin */
    #mainGallery .listing img {
      max-width: 400px;
      padding: 10px;
      margin: 0 auto; }
    /* line 114, stdin */
    #mainGallery .listing p {
      padding: 10px; }
    /* line 120, stdin */
    #mainGallery .listing a {
      text-decoration: none;
      padding: 10px; }
    /* line 127, stdin */
    #mainGallery .listing:nth-child(1) {
      border-bottom: 1px solid gray;
      margin-bottom: 5px; }
      /* line 134, stdin */
      #mainGallery .listing:nth-child(1) p {
        display: none; }
      /* line 140, stdin */
      #mainGallery .listing:nth-child(1) a {
        display: none; }
