mixin actionMenu

    Nav#actionMenu

        Button#addPhotoNavButton.actionButton Add Photo

        Button#editPhotoNavButton.actionButton Update Photo

        Button#deletePhotoNavButton.actionButton Delete Photo
