mixin addphoto(photos)

    form#addPhotoForm(action="/gallery/" method="POST")

        h3.formField Add Photo:

        .formField

            input(type='text' name='title' placeholder=' title')

        .formField

            input(type='text' name='url' placeholder=' link')

        .formField

            input(type='text' name='description' placeholder=' description')

        .formField

            button Create