mixin generateListings(listings)

  each listing in listings

    div(class='listing' id='listing'+listing.id)

      //wrapping all content in the A tag accomplishes the goal of everything clickable
      a(href='/gallery/#{listing.id}')
        img(src= listing.image class='listingImage')
        p= listing.description
        p Learn More





