mixin login

    form#loginForm(action='/login/' method="POST")

        h3.formField Login:

        #usernameInput.formField

            input(type='text' name='username' placeholder=' username')

        #passwordInput.formField

            input(type='password' name='password' placeholder=' password')

        .formField

            button Submit