mixin generateSingleListing(listing)

    div(class='listing' id='listing'+listing.id)

        //wrapping all content in the A tag accomplishes the goal of everything clickable

        p= listing.title
        p= listing.link
        img(src= listing.image class='listingImage')
        p= listing.description
